*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.avif filter=lfs diff=lfs merge=lfs -text
public/LOGO/* !text !filter !merge !diff
public/kiil-black-square-bla.png !text !filter !merge !diff
public/Eilersen/* !text !filter !merge !diff
public/jonas-ihreborn/* !text !filter !merge !diff
public/Fritz[[:space:]]Hansen/* !text !filter !merge !diff
public/Louis-Poulsen/* !text !filter !merge !diff
public/Louis[[:space:]]Poulsen-[[:space:]]Panthella[[:space:]]160[[:space:]]oppladbar[[:space:]]/* !text !filter !merge !diff
